@model MCU_Matchup.Library.Models.Matchup

@{

    ViewData["Title"] = "Home Page";
}
    <div class="content">

        <div class="text-center">
            <h1 class="display-4">The MCU Matchup</h1>
            <p>Compare vital Character stats between characters from The marvel cinematic universe</p>
            @Html.ActionLink("LoadMatchup", "LoadMatchup", new { /* id=item.PrimaryKey */ })
        </div>
        <section class="scenario">
            <h2 class="scenario-name">@Model.Scenario.Name</h2>
            <p class="scenario-text">@Model.Scenario.Text</p>
            <hr>
        </section>

        <section class="compareBoard">
            <div class="character-one">
                <img src="@Model.SuperHero_1.ImageUrl.Url" alt="" class="charOne-profilePic">
                <h4 class="text-center char-name">@Model.SuperHero_1.Name</h4>
                <hr>
                <h3>Power Stats</h3>
                <ul>
                    <li>Combat: @Model.SuperHero_1.PowerStats.Combat</li>
                    <li>Durability: @Model.SuperHero_1.PowerStats.Durability</li>
                    <li>Intelligence: @Model.SuperHero_1.PowerStats.Intelligence</li>
                    <li>Power: @Model.SuperHero_1.PowerStats.Power</li>
                    <li>Speed: @Model.SuperHero_1.PowerStats.Speed </li>
                    <li>Strength: @Model.SuperHero_1.PowerStats.Strength</li>
                </ul>
            </div>
            <div class="character-two">
                <img src="@Model.SuperHero_2.ImageUrl.Url" alt="" class="charTwo-profilePic">
                <h4 class="text-center char-name">@Model.SuperHero_2.Name</h4>
                <hr>
                <h3>Power Stats</h3>
                <ul>
                    <li>Combat: @Model.SuperHero_2.PowerStats.Combat</li>
                    <li>Durability: @Model.SuperHero_2.PowerStats.Durability</li>
                    <li>Intelligence: @Model.SuperHero_2.PowerStats.Intelligence</li>
                    <li>Power: @Model.SuperHero_2.PowerStats.Power</li>
                    <li>Speed: @Model.SuperHero_2.PowerStats.Speed </li>
                    <li>Strength: @Model.SuperHero_2.PowerStats.Strength</li>
                </ul>
            </div>
        </section>
        <section class="run-matchup">
            <hr>
            <h3>Who will win?</h3>
            <div>
                <h3>Primary Stats: @Model.Scenario.Rules.PrimaryStat</h3>
                <h3>Secondary Stats: @Model.Scenario.Rules.SecondaryStat</h3>
                <h3>Tertiary Stats: @Model.Scenario.Rules.TertiaryStat</h3>
            </div>
            <button class="btn btn-primary btn-lg">@Html.ActionLink("ScoreMatchup", "ScoreMatchup", new { /*TODO figure out how i want to do this, should probobly calculate and then return the view*/})</button>
        </section>
    </div>
