@model MCU_Matchup.Library.Models.Matchup

@{

    ViewData["Title"] = "Home Page";
}
    <div class="content">


        <div class="text-center">
            <h1 class="display-4">The MCU Matchup</h1>
            <p>Compare vital Character stats between characters from The marvel cinematic universe</p>
            @Html.ActionLink("LoadMatchup", "LoadMatchup", new { /* id=item.PrimaryKey */ })
        </div>

        <div class="compareBoard">
            <div class="character-one">
                <img src="@Model.SuperHero_1.ImageUrl" alt="" class="charOne-profilePic">
                <h4 class="text-center char-name">@Model.SuperHero_1.Name</h4>
                <hr>
                <p>Hours on Screen: ##:##</p>
            </div>
            <div class="character-two">
                <img src="@Model.SuperHero_2.ImageUrl" alt="" class="charTwo-profilePic">
                <h4 class="text-center char-name">@Model.SuperHero_2.Name</h4>
                <hr>
                <p>Hours on Screen: ##:##</p>
            </div>
        </div>
    </div>
